<!-- templates/base.html -->
{% load static %}
<html>
  <head>
    <title>Django blog</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400"
    rel="stylesheet">

  </head>
  <body>
    <div>
      <header>
        <div class="nav-left">
          <h1><a href="{% url 'home' %}">Блог Савелия Степуры</a></h1>
        </div>
        <div class="nav-right">
          <a href="{% url 'post_new' %}">+ Создать новый пост</a>
        </div>
      </header>
      {% block content %}
      {% endblock content %}
    </div>
  </body>
</html>





<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--  <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--  {% load static %}-->
<!--  <link href="{% static 'css/style.css' %}" rel="stylesheet">-->
<!--  {% block head %}-->
<!--  <title>Title</title>-->
<!--  {% endblock %}-->
<!--</head>-->
<!--<body>-->
<!--  {% block body %}-->
<!--  {% endblock %}-->
<!--</body>-->
<!--</html>-->